In [1]:
import pandas
import numpy
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [2]:
df=pandas.read_csv('C:\\Users\\pooja\\Downloads\\mtcars_for_manymerge.csv')

In [3]:
df.head()

                Cars   mpg  cyl   disp   hp  drat  Feedback
0           MazdaRX4  21.0    6  160.0  110  3.90         1
1       MazdaRX4_WAG  21.0    6  160.0  110  3.90         0
2         Datsun_710  22.8    4  108.0   93  3.85         1
3     Hornet_4_Drive  21.4    6  258.0  110  3.08         1
4  Hornet_Sportabout  18.7    8  360.0  175  3.15         1

In [4]:
dia=pandas.read_csv('C:\\Users\\pooja\\Downloads\\disbetes.csv')

In [5]:
dia.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [6]:
headings=pandas.read_csv('C:\\Users\\pooja\\Downloads\\diabetes column heading.txt')headings=0
headings[0]=headings[0].str[2:]
print(headings[0])

SyntaxError: invalid syntax (<ipython-input-6-0f231c10a980>, line 1)

In [ ]:
dia.isnull().sum()